* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer, .hero {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
}

h3 {
    font-size: 24px;
}

.footer {
    justify-content: center;
    padding: 20px 0px;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 200px;
}

.hero {
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    width: 130px;
    border-radius: 8px;
}

.button1 {
    border: none
}

.button2 {
    border: 1px solid #e5e7eb;
}

img {
    max-width: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 30px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px;
    padding: 0;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 400px;
    color:#e5e7eb;
    background-color: #3882f6;
    margin: 40px 200px;
    border-radius: 8px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    margin: 0;
    font-size: 18px;
}

.footer, .call, .quote, .middle, .hero, .header {
    display: flex;
}

.hero, .middle, .quote {
    flex: 1;
    align-items: center;

}