* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer, .call, .quote, .middle, .hero, .header, body, .links {
    display: flex;
}

body {
    flex-direction: column;
    height: 100vh;
}

.header, .footer, .hero {
    background-color: #1f2937;
    color: #f9faf8;
}

h3 {
    font-size: 24px;
}

.footer {
    justify-content: center;
    padding: 20px 0px;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 150px;
}

.hero {
    display: flex;
    padding: 50px 150px 100px;
    justify-content: space-between;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 8px;
    width: fit-content;
}

.button1 {
    border: none;
}

img {
    border-radius: 30px;
}

.button2 {
    border: 1px solid #e5e7eb;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 30px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px 50px 0px;
    padding: 0;
}

.call {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    gap: 50px;
    color:#e5e7eb;
    background-color: #3882f6;
    margin: 40px 300px;
    border-radius: 8px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    margin: 0;
    font-size: 18px;
}

.footer, .call, .quote, .middle, .hero, .header {
    display: flex;
}

.hero, .middle, .quote {
    flex: 1;
    align-items: center;
}