* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer, .hero {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
}

h3 {
    font-size: 24px;
}

footer {
    justify-content: center;
    padding: 20px 0px;
    
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

header {
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 100px;
}

.hero {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    width: 130px
}

img {
    max-width: 200px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px;
}